<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DBHost" connectionString="46.105.29.54"/>
		<add name="DBPort" connectionString="1632"/>
		<add name="DBDatabase" connectionString="airtany"/>
		<add name="DBUsername" connectionString="atwf001"/>
		<add name="DBPassword" connectionString="JMqsIpC1muazbgC4pVHMe6QRvL9YKzN6"/>
		<add name="stockAPIurl" connectionString="http://141.94.79.199:4110"/>
		<add name="stockAPItoken" connectionString="eyJjbGllbnRJZCI6ImUyNGZ2ajNoM2RkdGtub20iLCJwZXJtaXNzaW9ucyI6WyJjcmVhdGUtc3RvY2siLCJtb2RpZnktc3RvY2siLCJhZGQtcHJpY2UiXSwiZXhwaXJhdGlvbkRhdGUiOiIyMDIzLTA1LTA2VDIwOjMyOjI3KzAwOjAwIn0="/>
	</connectionStrings>
</configuration>
