<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DBHost" connectionString="46.105.29.54"/>
		<add name="DBPort" connectionString="1632"/>
		<add name="DBDatabase" connectionString="airtany"/>
		<add name="DBUsername" connectionString="atwf001"/>
		<add name="DBPassword" connectionString="JMqsIpC1muazbgC4pVHMe6QRvL9YKzN6"/>
	</connectionStrings>
</configuration>